body {
    background-image: url('bg.png');
    background-size: cover;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    transition: background-color 0.5s ease;
}

.container {
    position: relative;
    padding: 20px;
}

.main-heading {
    font-family: 'Calligraffitti', cursive;
    font-size: 3em;
}

.tagline {
    font-size: 2em;
}

.description {
    font-style: italic;
    font-size: 1.2em;
}

.vinyl {
    position: absolute;
    right: 20px;
    width: 200px;
    animation: spin 10s linear infinite;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.toggle-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
}

.navbar {
    margin-top: 30px;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
}

.navbar li {
    display: inline;
    margin: 0 15px;
    font-family: 'Roboto', sans-serif;
}
