* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
}

body {
  background: url("../assets/bg.png") center / cover no-repeat fixed;
  font-family: Inter, sans-serif;
  color: #fff;
  overflow: hidden;
}

/* NO overlays stealing clicks */
::selection { background: transparent; }
